
h1{ 
    font-size: 64px;
    font-weight:Title Hero/Font Weight;
}
p.info31{
    font-size: 22px}
    .winston{
        font-size: 14px;
        padding-top: 40px;
    }
    h2{
        font-weight: 700;
    }
    body{
        padding-left: 35px;
    }